<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
  #error{
    color:red;
  }
</style>
<body>
  <div class="container" style="text-align:center;margin-top:17%">
  <h1>LOGIN</h1>
  <form action="/" method="post">
    <label>User_id</label>
    <input type="text" name="user" placeholder="Username" required/>
    <br><br>
    <label>Password</label>
    <input type="password" name="pass" placeholder="Password" required/>
    <br>
    <p id="error">{{error}}</p>
    <input name="button" type="submit" value="Login" />
    <input name="button" type="submit" value="Register" />
  </form>
    </div>
</body>
</html>