<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="font-size:40px;" class="navbar-brand">{{user}} Dashboard</h1>
        <div class="btn-group" role="button">
            <a href="/{{user}}/profile"><button type="button" class="btn bg-light" style="margin-right:5px;font-size:120%;">Profile</button></a>
            <a href="/"><button type="button" class="btn bg-light" style="font-size:120%;">Logout</button></a>
        </div>
    </div>
    </nav>

    <br>

    <form style="margin-left:70%" class="d-inline-flex" action="/{{user}}" method="post">
        <input name="search" class="form-control" type="search" placeholder="Search category">
        <button name="filter" class="btn" type="submit" value="item"><span class="material-symbols-outlined">search</span></button>
    </form>
    <form style="margin-left:62.3%" class="d-inline-flex" action="/{{user}}" method="post">
        <input style="width:150px" name="min" class="form-control" type="number" placeholder="Min price">
        <span style="padding-top:1.5%" class="material-symbols-outlined">remove</span>
        <input style="width:150px" name="max" class="form-control" type="number" placeholder="Max price">
        <button name="filter" value="price" class="btn" type="submit"><span class="material-symbols-outlined">search</span></button>
    </form>

    <a href="/{{user}}/cart" style="right:80px;bottom:50px;position:fixed;" ><button type="button" class="btn bg-success" style="border-radius:50%;padding:50%"><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512"><style>svg{fill:#ffffff}</style><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></button></a>


    {% if categories|length == 0 and not search %}
        <h3 style="text-align:center;padding-top:15%">No products available at this moment ! </h3>
    {% else %}
    {% if not price %}
    <div class="container">
        {% if search %}
            <button class="btn" style="font-size:140%">Search results for <a href="/{{user}}/home"><button style="color:red" class="btn btn-warning">{{search}} &#10060;</button> </a> </button>
        {% endif %}
        {% for i in categories %}
        <h2 style="text-align:center">{{i.category_name|capitalize}}</h2>
        <hr>
        <div class="row row-cols-4" >
            {% for j in i.products %}
            <div class="col" style="margin-bottom:2%;">
                <div class="card text-center">
                    <div class="card-header"><h5 style="margin:3%;" class="card-title">{{j.product_name}}</h5></div>
                    <div class="card-body">
                        <p>{{j.product_price}}{{j.product_unit}}</p>
                        {% if j.product_quantity == 0 %}
                        <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-info" style="color:white;font-size:110%" disabled>
                            Out of Stock
                        </button>
                        {% else %}
                            {% if j.product_id in cart %}
                                <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-secondary" style="color:white;font-size:110%" disabled>
                                    Already in cart
                                </button>
                            {% else %}
                                <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-info" style="color:white;font-size:110%">
                                    Buy
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>



        <br>
        {% endfor %}

        {% else %}
    <div class="container">
        <h4>Filter applied : <a href="/{{user}}/home"><button style="color:black" class="btn btn-warning">&#8377;{{min}} - &#8377;{{max}}    &#10060;</button></a></h4>
        <br>
        <div class="row row-cols-4" >
            {% for i in categories %}
            {% for j in i.products %}
            {% if j.product_price >= min and j.product_price <= max %}
            <div class="col" style="margin-bottom:2%;">
                <div class="card text-center">
                    <div class="card-header"><h5 style="margin:3%;" class="card-title">{{j.product_name}}</h5></div>
                    <div class="card-body">
                        <p>{{j.product_price}}{{j.product_unit}}</p>
                        {% if j.product_quantity == 0 %}
                        <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-info" style="color:white;font-size:110%" disabled>
                            Out of Stock
                        </button>
                        {% else %}
                            {% if j.product_id in cart %}
                                <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-secondary" style="color:white;font-size:110%" disabled>
                                    Already in cart
                                </button>
                            {% else %}
                                <button data-bs-target="#{{j.product_name}}" data-bs-toggle="modal" type="button" class="btn btn-info" style="color:white;font-size:110%">
                                    Buy
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="toast align-items-center" role="alert" style="left:20px;bottom:20px;position:fixed;font-size:150%">
        <div class="toast-body">
            {{msg}}
        </div>
    </div>

    </div>

    {% endif %}

    {% for i in categories %}
    {% for j in i.products %}
        <form action="/{{user}}/add_item/{{j.product_name}}" method="post">
        <div class="modal fade" data-bs-backdrop="static" id="{{j.product_name}}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            {{j.product_name}} - {{i.category_name}}
                        </h3>
                        <button type="button" class="btn-close" style="margin-top:1.5%;" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Availability : {{j.product_quantity}}</h6>
                        <input name="id" type="hidden" value="{{j.product_id}}"/>
                        <label class="col-form-label">Quantity</label>
                        <input name="quantity" class="form-control" placeholder="No of {{j.product_unit.split('/')[1]}}s" required/>
                        <label class="col-form-label">Price</label>
                        <input name="price" class="form-control" value="{{j.product_price}}" disabled/>
                        <br>
                        <button class="btn btn-primary" id="Toast">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        {% endfor %}
        {% endfor %}

{% if msg %}
<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>
{% endif %}


</body>
</html>